[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = dirty
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
    url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/jshint"]
	path = vim/bundle/jshint
	url = https://github.com/walm/jshint.vim.git
    ignore = dirty
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/arduino"]
	path = vim/bundle/arduino
	url = https://github.com/kingbin/vim-arduino.git
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
    ignore = dirty
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/PreserveNoEOL"]
	path = vim/bundle/PreserveNoEOL
	url = https://github.com/vim-scripts/PreserveNoEOL.git
    ignore = dirty
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-jsbeautify"]
	path = vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "vim/bundle/VOoM"]
	path = vim/bundle/VOoM
    url = https://github.com/vim-voom/VOoM.git
    ignore = untracked
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/bundle/vim-windowswap"]
	path = vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule "vim/bundle/vim-haproxy"]
	path = vim/bundle/vim-haproxy
	url = https://github.com/vim-scripts/haproxy
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/keepcase"]
	path = vim/bundle/keepcase
	url = https://github.com/vim-scripts/keepcase.vim.git
[submodule "vim/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/code_complete"]
	path = vim/bundle/code_complete
	url = https://github.com/mbbill/code_complete.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
    ignore = dirty
[submodule "vim/bundle/vim-cobj"]
	path = vim/bundle/vim-cobj
	url = https://github.com/cofyc/vim-cobj.git
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "vim/bundle/applescript"]
	path = vim/bundle/applescript
	url = https://github.com/vim-scripts/applescript.vim.git
[submodule "vim/bundle/vim2hs"]
	path = vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "vim/bundle/nginx"]
	path = vim/bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "vim/bundle/vcl-vim-plugin"]
	path = vim/bundle/vcl-vim-plugin
	url = https://github.com/smerrill/vcl-vim-plugin.git
[submodule "vim/bundle/neocomplete"]
	path = vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-tex-syntax"]
	path = vim/bundle/vim-tex-syntax
	url = https://github.com/gi1242/vim-tex-syntax.git
[submodule "vim/bundle/vim-uncrustify"]
	path = vim/bundle/vim-uncrustify
	url = https://github.com/cofyc/vim-uncrustify.git
[submodule "vim/bundle/vim-autopep8"]
	path = vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "vim/bundle/vim-template"]
	path = vim/bundle/vim-template
	url = https://github.com/aperezdc/vim-template.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mv-utils"]
	path = vim/bundle/vim-addon-mv-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "vim/bundle/vim-clang-format"]
	path = vim/bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
