# for UltiSnips

priority -50

snippet mit
/**
 * Copyright (C) `!v strftime("%Y")` Yecheng Fu <cofyc.jackson at gmail dot com>
 * All rights reserved.
 *
 * Use of this source code is governed by a MIT-style license that can be found
 * in the LICENSE file.
 */
endsnippet
